{% extends 'codeBackEnd/base.html' %}
{% load humanize %}
{% load static %}
{% load codeBackEnd_extras %}
{% load usuarios_extras %}
{% block title %}Usuarios{% endblock %}
{% block tituloSeccion %}<img class="img-titulo" src="{% static 'codeBackEnd/admin/img/png/check-list.png' %}"> Usuarios{% endblock %}

{% block customHead %}
    <link href="{% static 'codeBackEnd/admin/assets/dataTables/css/dataTables.bootstrap4.css' %}" rel="stylesheet"  type="text/css"/>
{% endblock %}

{% block customCss %}
    <style>
    </style>
{% endblock %}

{% block content %}
    <div class="col-md-12 p-0">
        {% get_PermisoUsuario request.user.id "auth.add_user" as Permiso %}

        {% if 'nombre' not in request.GET and 'email'  not in request.GET %}
            <form action="{% url 'Usuarios:exportExcel' %}">
                {% if Permiso %}
                    <a href="{% url 'Usuarios:Add' %}" type="button" class="btn btn-light mb-3"><i class="fas fa-plus text-success"></i> Agregar usuarios</a>
                {% endif %}

                <button type="button" class="btn btn-light mb-3 ml-1" data-toggle="modal" data-target="#searchModal">
                    <i class="fas fa-search text-info"></i> Buscar
                </button>

                <button type="submit" class="btn btn-light mb-3 ml-1 text-green">
                    <i class="fas fa-solid fa-file-excel color-excel"></i> Exportar Excel
                </button>
            </form>
        {% endif %}
        
        {% if 'nombre' in request.GET or 'email' in request.GET %}
            <form action="{% url 'Usuarios:exportExcel' %}">
                {% if Permiso %}
                    <a href="{% url 'Usuarios:Add' %}" type="button" class="btn btn-light mb-3"><i class="fas fa-plus text-success"></i> Agregar usuarios</a>
                {% endif %}

                <button type="button" class="btn btn-light mb-3 ml-1" data-toggle="modal" data-target="#searchModal">
                    <i class="fas fa-search text-info"></i> Buscar
                </button>

                <a href="{% url 'Usuarios:Base' %}" type="button" class="btn btn-light mb-3 ml-1"><i class="fas fa-eraser text-danger"></i> Quitar búsqueda</a>

                {% if 'nombre' in request.GET %}
                    <input type="hidden" name="tipoFiltro" value="{{request.GET.tipoFiltro}}">
                    <input type="hidden" name="nombre" value="{{request.GET.nombre}}">
                {% endif %}

                {% if 'email' in request.GET %}
                    <input type="hidden" name="email" value="{{request.GET.email}}">
                {% endif %}

                <button type="submit" class="btn btn-light mb-3 ml-1">
                    <i class="fas fa-solid fa-file-excel color-excel"></i> Exportar Excel
                </button>
            </form>
        {% endif %}
    </div>

    {% if 'nombre' in request.GET %}
    <div class="col-md-12 p-0 my-3 text-white">
        <h3>
            {% if 'nombre' in request.GET %}
                Buscando por nombre: <b>{{request.GET.nombre}}</b>
            {% endif %}
        </h3>
    </div>
    {% endif %}

    <div class="table-responsive">
        {% if page_obj|length == 0 %}
            <div class="card-category estado estado-producto">
                <div class="alert alert-danger" role="alert">
                    <span>No hay datos para mostrar</span>
                </div>
            </div>
        {% else %}
            <table class="display table table-striped table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th style="text-align: center;">Nombre</th>
                        <th style="text-align: center;">Email</th>
                        {% get_PermisoUsuario request.user.id "auth.change_user" as Permiso %}
                        {% if Permiso %}
                            <th style="text-align: center;">
                                <a href="#" title="Haga clic sobre el icono para editar la fila."><i class='fa fa-info text-white'></i></a>
                            </th>
                        {% endif %}
                        {% get_PermisoUsuario request.user.id "auth.delete_user" as Permiso %}
                        {% if Permiso %}
                            <th style="text-align: center;">
                                <a href="#" title="Haga clic sobre el icono para eliminar la fila."><i class='fa fa-info'></i></a>
                            </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for linea in page_obj %}
                        {% if linea.is_superuser == False and linea.id != request.user.id %}
                            <tr>
                                <td style="text-align: center;">{{linea.first_name}} {{linea.last_name}}</td>
                                <td style="text-align: center;">{{linea.email}}</td>
                                {% get_PermisoUsuario request.user.id "auth.change_user" as Permiso %}
                                {% if Permiso %}
                                    <td style="text-align: center;"><a href="{% url 'Usuarios:Edit' pk=linea.id %}" class="btn btn-primary"><i class="fas fa-pencil-alt fa-lg"></i> Editar</a></td>
                                {% endif %}
                                {% get_PermisoUsuario request.user.id "auth.delete_user" as Permiso %}
                                {% if Permiso %}
                                    <td style="text-align: center;"><a href="{% url 'Usuarios:Delete' pk=linea.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Borrar</a></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor%}
                </tbody>
            </table>

            {% if is_paginated %}
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                {% if 'nombre' in request.GET %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1&name={{ request.GET.name }}">Primera</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&name={{ request.GET.name }}"><</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><</a></li>
                                {% endif %}
                            {% endif %}

                            {% for i in page_obj.paginator.page_range %}
                                
                                <li class="page-item">
                                    {% if request.GET.page|to_int == i|to_int %}
                                        {% if 'nombre' in request.GET %}
                                            <a class="page-link page-selected" href="?page={{ i }}&name={{ request.GET.name }}">{{ i }}</a>
                                        {% else %}
                                            <a class="page-link page-selected" href="?page={{ i }}">{{ i }}</a>
                                        {% endif %}
                                    {% else %}
                                        {% if 'nombre' in request.GET %}
                                            <a class="page-link" href="?page={{ i }}&name={{ request.GET.name }}">{{ i }}</a>
                                        {% else %}
                                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                                {% if 'nombre' in request.GET %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&name={{ request.GET.name }}">></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&name={{ request.GET.name }}">Última</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">></a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            {% endif %}

        {% endif %}
    </div>

    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="{% url 'Usuarios:Search' %}" id="formSearchName" method="get" enctype="multipart/form-data" class="row ">
                        <div class="form-group col-md-12"> {% comment %} nombre {% endcomment %}
                            <label for="id_tipoFiltro">Buscar por:</label>
                            <select id="id_tipoFiltro" name="tipoFiltro" class="selectpicker w-100">
                                {% if 'tipoFiltro' in request.GET %}
                                    {% if request.GET.tipoFiltro|to_int == 1 %}
                                        <option value="1" selected>Nombre</option> 
                                    {% else %}
                                        <option value="1">Nombre</option> 
                                    {% endif %}

                                    {% if request.GET.tipoFiltro|to_int == 2 %}
                                        <option value="2" selected>Apellido</option> 
                                    {% else %}
                                        <option value="2">Apellido</option> 
                                    {% endif %}
                                {% else %}
                                    <option value="1">Nombre</option>
                                    <option value="2">Apellido</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group col-md-12"> {% comment %} nombre {% endcomment %}
                            <label for="id_nombre">Nombre o apellido:</label>
                            {% if 'nombre' in request.GET %}
                                <input type="text" name="nombre" class="form-control" placeholder="Nombre o apellido" maxlength="100" required="" value="{{request.GET.nombre}}">
                            {% else %}
                                <input type="text" name="nombre" class="form-control" placeholder="Nombre o apellido" maxlength="100" required="">
                            {% endif %}
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-light">
                                <i class="fas fa-search text-info"></i> Buscar por nombre
                            </button>
                        </div>
                    </form>
                    <form action="{% url 'Usuarios:Search' %}" id="formSearchName" method="get" enctype="multipart/form-data" class="row ">
                        <div class="form-group col-md-12"> {% comment %} nombre {% endcomment %}
                            <label for="id_email">Email:</label>
                            {% if 'email' in request.GET %}
                                <input type="text" name="email" class="form-control" placeholder="Email" maxlength="100" required="" value="{{request.GET.email}}">
                            {% else %}
                                <input type="text" name="email" class="form-control" placeholder="Email" maxlength="100" required="">
                            {% endif %}
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-light">
                                <i class="fas fa-search text-info"></i> Buscar por email
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJs %}
    <script src="{% static 'categorias/assets/js/validar.js' %}"></script>
    <script>
        {% if 'created' in request.GET %}
            swal({
                title: "Realizado",
                text: "Se ha creado el usuario",
                icon: "success",
                buttons: {
                    confirm: {
                        text: "OK",
                        value: true,
                        visible: true,
                        className: "btn btn-success",
                        closeModal: true
                    }
                }
            });
        {% endif %}
    </script>
{% endblock %}