{% extends 'codeBackEnd/base.html' %}
{% load humanize %}
{% load static %}
{% load codeBackEnd_extras %}
{% load usuarios_extras %}
{% load usuarios_extras %}
{% block title %}Bodegas{% endblock %}
{% block tituloSeccion %}<img class="img-titulo" src="{% static 'codeBackEnd/admin/img/png/inventory.png' %}"> Bodegas disponibles{% endblock %}

{% block customHead %}
    <link href="{% static 'codeBackEnd/admin/assets/dataTables/css/dataTables.bootstrap4.css' %}" rel="stylesheet"  type="text/css"/>
{% endblock %}

{% block customCss %}
    <style>
    </style>
{% endblock %}

{% block content %}
    <div class="col-md-12 p-0">
        {% get_PermisoUsuario request.user.id "bodegas.add_bodegas" as Permiso %}

        {% if 'nombre' not in request.GET and 'responsable'  not in request.GET %}
            <form action="{% url 'Bodegas:exportExcel' %}">
                {% if Permiso %}
                    <a href="{% url 'Bodegas:Add' %}" type="button" class="btn btn-light mb-3"><i class="fas fa-plus text-success"></i> Agregar categoría</a>
                {% endif %}

                <button type="button" class="btn btn-light mb-3 ml-1" data-toggle="modal" data-target="#searchModal">
                    <i class="fas fa-search text-info"></i> Buscar
                </button>

                <button type="submit" class="btn btn-light mb-3 ml-1 text-green">
                    <i class="fas fa-solid fa-file-excel color-excel"></i> Exportar Excel
                </button>
            </form>
        {% endif %}
        
        {% if 'nombre' in request.GET or 'responsable' in request.GET %}
            <form action="{% url 'Bodegas:exportExcel' %}">
                {% if Permiso %}
                    <a href="{% url 'Bodegas:Add' %}" type="button" class="btn btn-light mb-3"><i class="fas fa-plus text-success"></i> Agregar categoría</a>
                {% endif %}

                <button type="button" class="btn btn-light mb-3 ml-1" data-toggle="modal" data-target="#searchModal">
                    <i class="fas fa-search text-info"></i> Buscar
                </button>

                <a href="{% url 'Bodegas:Base' %}" type="button" class="btn btn-light mb-3 ml-1"><i class="fas fa-eraser text-danger"></i> Quitar búsqueda</a>

                {% if 'nombre' in request.GET %}
                    <input type="hidden" name="nombre" value="{{request.GET.nombre}}">
                {% endif %}

                {% if 'responsable' in request.GET %}
                    <input type="hidden" name="responsable" value="{{request.GET.responsable}}">
                {% endif %}

                <button type="submit" class="btn btn-light mb-3 ml-1">
                    <i class="fas fa-solid fa-file-excel color-excel"></i> Exportar Excel
                </button>
            </form>
        {% endif %}
    </div>

    {% if 'nombre' in request.GET %}
    <div class="col-md-12 p-0 my-3 text-white">
        <h3>
            {% if 'nombre' in request.GET %}
                Buscando por nombre: <b>{{request.GET.nombre}}</b>
            {% endif %}
        </h3>
    </div>
    {% endif %}

    <div class="table-responsive">
        {% if page_obj|length == 0 %}
            <div class="card-category estado estado-producto">
                <div class="alert alert-danger" role="alert">
                    <span>No hay datos para mostrar</span>
                </div>
            </div>
        {% else %}
            <table class="display table table-striped table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th style="text-align: center;">Nombre</th>
                        <th style="text-align: center;">Responsable</th>
                        <th style="text-align: center;">Observación</th>
                        {% get_PermisoUsuario request.user.id "bodegas.change_bodegas" as Permiso %}
                        {% if Permiso %}
                            <th style="text-align: center;">
                                <a href="#" title="Haga clic sobre el icono para editar la fila."><i class='fa fa-info text-white'></i></a>
                            </th>
                        {% endif %}
                        {% comment %} <th style="text-align: center;">
                            <a href="#" title="Haga clic sobre el icono para eliminar la fila."><i class='fa fa-info'></i></a>
                        </th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for linea in page_obj %}
                        <tr>
                            <td style="text-align: center;">{{ linea.nombre }}</td>
                            <td style="text-align: center;">{{linea.responsable.first_name}} {{ linea.responsable.last_name }}</td>
                            <td>{{ linea.observacion }}</td>
                            {% get_PermisoUsuario request.user.id "bodegas.change_bodegas" as Permiso %}
                            {% if Permiso %}
                                <td style="text-align: center;"><a href="{% url 'Bodegas:Edit' pk=linea.id %}" class="btn btn-primary"><i class="fas fa-pencil-alt fa-lg"></i> Editar</a></td>
                            {% endif %}
                            {% comment %} <td style="text-align: center;"><a href="{% url 'Bodegas:Delete' pk=linea.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Borrar</a></td> {% endcomment %}
                        </tr>
                    {% endfor%}
                </tbody>
            </table>

            {% if is_paginated %}
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                {% if 'nombre' in request.GET %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1&name={{ request.GET.name }}">Primera</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&name={{ request.GET.name }}"><</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><</a></li>
                                {% endif %}
                            {% endif %}

                            {% for i in page_obj.paginator.page_range %}
                                
                                <li class="page-item">
                                    {% if request.GET.page|to_int == i|to_int %}
                                        {% if 'nombre' in request.GET %}
                                            <a class="page-link page-selected" href="?page={{ i }}&name={{ request.GET.name }}">{{ i }}</a>
                                        {% else %}
                                            <a class="page-link page-selected" href="?page={{ i }}">{{ i }}</a>
                                        {% endif %}
                                    {% else %}
                                        {% if 'nombre' in request.GET %}
                                            <a class="page-link" href="?page={{ i }}&name={{ request.GET.name }}">{{ i }}</a>
                                        {% else %}
                                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                                {% if 'nombre' in request.GET %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&name={{ request.GET.name }}">></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&name={{ request.GET.name }}">Última</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">></a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            {% endif %}

        {% endif %}
    </div>

    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="{% url 'Bodegas:Search' %}" id="formSearchName" method="get" enctype="multipart/form-data" class="row ">
                        <div class="form-group col-md-12"> {% comment %} nombre {% endcomment %}
                            <label for="id_nombre">Nombre:</label>
                            {% if 'nombre' in request.GET %}
                                <input type="text" name="nombre" class="form-control" placeholder="Nombre" maxlength="100" required="" value="{{request.GET.nombre}}">
                            {% else %}
                                <input type="text" name="nombre" class="form-control" placeholder="Nombre" maxlength="100" required="">
                            {% endif %}
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-light">
                                <i class="fas fa-search text-info"></i> Buscar por nombre
                            </button>
                        </div>
                    </form>

                    <form action="{% url 'Bodegas:Search' %}" method="get" enctype="multipart/form-data" class="row ">
                        <div class="form-group col-md-12"> {% comment %} nombre {% endcomment %}
                            <label for="id_nombre">Responsable:</label>
                            <div class="selectgroup w-100">
                                <select id="id_responsable" name="responsable" class="selectpicker w-100" data-live-search="true">
                                    {% get_Usuarios_list as usuarios %}
                                    {% for usuario in usuarios %}
                                        {% if 'responsable' in request.GET %}
                                            {% if usuario.id|to_int == request.GET.responsable|to_int %}
                                                <option value="{{ usuario.id }}" selected>{{ usuario.first_name }} {{ usuario.last_name }}</option>
                                            {% else %}
                                                <option value="{{ usuario.id }}">{{ usuario.first_name }} {{ usuario.last_name }}</option>
                                            {% endif %}
                                        {% else %}
                                            <option value="{{ usuario.id }}">{{ usuario.first_name }} {{ usuario.last_name }}</option>
                                        {% endif %}
                                    {% endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-light">
                                <i class="fas fa-search text-info"></i> Buscar por responsable
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJs %}
    <script src="{% static 'bodegas/assets/js/validar.js' %}"></script>
    <script>
        {% if 'created' in request.GET %}
            swal({
                title: "Realizado",
                text: "Se ha creado la categoría",
                icon: "success",
                buttons: {
                    confirm: {
                        text: "OK",
                        value: true,
                        visible: true,
                        className: "btn btn-success",
                        closeModal: true
                    }
                }
            });
        {% endif %}
    </script>
{% endblock %}