/* Personalizacion de la plantilla */
    .navbar-header[data-background-color=dark] {
        background: #001737 !important;
    }

    .sidebar[data-background-color=dark2] {
        background: #002A61 !important;
    }

    .logo-header[data-background-color=dark2] {
        background: #003B87 !important;
    }

    body[data-background-color=dark] {
        background: #001027;
    }

    .main-panel>.content {
        padding: 0!important;
        min-height: calc(100% - 114px);
        margin-top: 62px;
        overflow: hidden;
    }
    
    body[data-background-color=dark] .footer {
        border-top: 1px solid #FFD92E;
        background: #001737;
    }

    body[data-background-color=dark] .card, body[data-background-color=dark] .list-group-item, body[data-background-color=dark] .row-card-no-pd, body[data-background-color=dark] .timeline>li>.timeline-panel {
        background: #002A61;
    }

    body[data-background-color=dark] .form-control, body[data-background-color=dark] .form-group-default, body[data-background-color=dark] .select2-container--bootstrap .select2-selection {
        background-color: #001737;
        color: #fff;
        border-color: #003B87;
    }

    .sidebar .nav>.nav-item a i, .sidebar[data-background-color=white] .nav>.nav-item a i,
    .sidebar.sidebar-style-2[data-background-color=dark2] .nav .nav-item a:hover i {
        color: #ffffff !important;
    }
    .sidebar .nav>.nav-item a p, .sidebar[data-background-color=white] .nav>.nav-item a p,
    .sidebar.sidebar-style-2[data-background-color=dark2] .nav .nav-item a:hover p {
        color: #ffffff !important;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: #001737!important;
        border-color: #e8e8e8!important;
    }

    .sidebar .nav>.nav-item a i, .sidebar[data-background-color=white] .nav>.nav-item a i ,
    .sidebar .nav>.nav-item a svg, .sidebar[data-background-color=white] .nav>.nav-item a svg ,
    .sidebar .nav>.nav-item a img, .sidebar[data-background-color=white] .nav>.nav-item a img {
        color: #8d9498 !important;
        margin-right: 0px !important;
        width: 25px !important;
        text-align: center !important;
        vertical-align: middle !important;
        float: left !important;
        font-size: 18px !important;
        line-height: 30px !important;
    }

    .sidebar .nav>.nav-item a p{
        font-size: 14px !important;
        margin-bottom: 0 !important;
        margin-right: 5px !important;
        white-space: nowrap !important;
        color: #8d9498 !important;
        margin-left: 5px !important;
    }

    .messages-notif-box .notif-center a .notif-icon.notif-primary, .notif-box .notif-center a .notif-icon.notif-primary {
        background: #002A61!important;
    }

    .fv-plugins-bootstrap .fv-help-block {
        font-size: 13px;
        margin-top: .25rem;
        color: #fff !important;
        background-color: #dc3545;
        list-style: none;
        padding: .25em .4em;
        border-radius: .25rem;
        margin-bottom: 5px;
    }
    .fv-plugins-bootstrap .fv-plugins-icon {
        height: 38px;
        line-height: 54px;
        width: 50px;
    }

    .img-titulo {
        width: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    a i, button i {
        margin-right: 6px;
    }

    .btn {
        padding: .50rem .70rem;
    }
/* Personalizacion de la plantilla */

/* Tablas personalizadas */
    thead{ background: #001027; }
    thead tr th{ color: #ffffff; }

    tbody{ background: #003B87; }
    tbody:hover{ background: #003B87; }
    tbody tr:hover{ background: #002659 !important; }
    tbody tr td{ color: #ffffff; }
    tbody tr td a{ color: #5C9FF1; padding-left: 10px; }

    .pagination li a, .pagination li:first-child a, .pagination li:last-child a{
        background: #003880;
        color: #fff;
        border: 1px solid #003880;
    }

    .pagination li a:hover, .pagination li:first-child a:hover, .pagination li:last-child a:hover, .page-selected{
        background: #001027;
        color: #fff;
        border: 1px solid #fff;
    }

    .page-selected{
        background: #001027 !important;
        color: #fff !important;
        border: 1px solid #fff !important;
    }
/* Tablas personalizadas */

/* modal personalizado */
    .modal-content {
        background-color: #003880;
    }
    .modal-footer {
        border-top: 1px solid #FFD92E;
    }
/* modal personalizado */

/* mensajes personalizados */
    .estado .alert{
        background-color: rgba(255,255,255,.05);
        margin-top: 10px;
        padding: .8rem .5rem;
        color: #fff;
        font-size: 1.1rem;
    }
    .card-info-custom {
        background: rgba(255,255,255,0.1) !important;
        overflow: hidden !important;
    }
    .estado-producto .alert{
        background-color: rgba(255,255,255,.05);
        margin-top: 0px;
        padding: 1.2rem 1.3rem;
        color: #fff;
        font-size: .8rem;
    }

    .btn-eliminar-producto{
        color: #fff;
        padding: .4rem 0.6rem;
        margin-bottom: 5px;
        font-size: 0.85rem;
    }

    .acceso-producto, .acceso-producto:focus {
        color: #fff;
        text-decoration: none;
    }

    .acceso-producto:hover{
        cursor: pointer;
        color: #fff;
        text-decoration: none;
    }

    .labelEditar, .labelEditar:focus{
        position: absolute;
        bottom: 0px;
        right: 0px;
        background: rgba(0,0,0,0.5);
        width: 100%;
        text-align: right;
        padding-right: 8px;
        color: #fff;
        height: 100%;
    }

    .labelEditar:hover{
        cursor: pointer;
        position: absolute;
        bottom: 0px;
        right: 0px;
        background: rgba(0,0,0,0.8);
        width: 100%;
        text-align: right;
        padding-right: 8px;
        color: #fff;
        height: 100%;
        text-decoration: none;
    }

    .limite{
        background-color: rgba(255,255,255,.05);
        color: #fff;
        font-size: 1.1rem;
    }

    .bootstrap-select>.dropdown-toggle {
        background: #001737 !important;
        color: #fff !important;
        border-color: #003B87 !important;
    }
    .bootstrap-select>.dropdown-toggle:active{
        background: #00132D !important;
        color: #fff !important;
        border-color: #003B87 !important;
    }
    .dropdown-item.active, .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: #00132D;
    }
/* mensajes personalizados */

.color-excel{
    color: #1F6E43;
}