{% load static %}
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="copyright pull-left">
                            © Derechos reservados 2021 - {% now 'Y' %} Sistema de inventarios
                        </div>
                        <div class="copyright ml-auto">
                            Una solución de <a href="https://rexystudios.com" target="blank">&copy; Rexy Studios</a>
                        </div>
                    </div>
                </footer>