{% load static %}
{% load usuarios_extras %}
            <!-- Sidebar -->
            <div class="sidebar sidebar-style-2" data-background-color="dark2">
                        
                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">
                        <div class="user">
                            <div class="avatar-sm float-left mr-2">
                                <img src="{% static 'codeBackEnd/admin/img/svg/user.svg' %}" class="avatar-img rounded-circle">
                            </div>
                            <div class="info">
                                <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                    <span>
                                        <span class="user-level text-white">
                                            {{request.user.first_name}} {{request.user.last_name}}
                                        </span>
                                        <span class="user-level">
                                            {{request.user.email}}
                                        </span>
                                    </span>
                                </a>
                                <div class="clearfix"></div>

                                <div class="collapse in" id="collapseExample">
                                    <ul class="nav">
                                        <li>
                                            <a href="{% url 'codeBackEnd:perfil' %}">
                                                <span class="link-collapse">Perfil</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'logout' %}">
                                                <span class="link-collapse">Cerrar sesión</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-primary">
                            <li class="nav-item active">
                                <a href="{% url 'codeBackEnd:dashboard' %}">
                                    <img src="{% static 'codeBackEnd/admin/img/svg/dashboard.svg' %}">
                                    <p>Escritorio</p>
                                </a>
                            </li>
                        </ul>

                        <ul class="nav nav-primary">
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section text-white">Opciones</h4>
                            </li>

                            {% get_PermisoUsuario request.user.id "transaccionesInventarios.add_transacciones" as Permiso %}
                            {% if Permiso %}
                                <li class="nav-item active">
                                    <a href="{% url 'TransaccionesInv:Base' %}">
                                        <img src="{% static 'codeBackEnd/admin/img/png/transaction.png' %}">
                                        <p>Registrar Inv.</p>
                                    </a>
                                </li>
                            {% endif %}

                            {% get_PermisoUsuario request.user.id "inventarios.view_productos" as Permiso %}
                            {% if Permiso %}
                                <li class="nav-item">
                                    <a href="{% url 'Inventarios:Base' %}">
                                        <img src="{% static 'codeBackEnd/admin/img/png/box.png' %}">
                                        <p>Productos</p>
                                    </a>
                                </li>
                            {% endif %}

                            {% get_PermisoUsuario request.user.id "categorias.view_categorias" as Permiso %}
                            {% if Permiso %}
                                <li class="nav-item">
                                    <a href="{% url 'Categorias:Base' %}">
                                        <img src="{% static 'codeBackEnd/admin/img/png/check-list.png' %}">
                                        <p>Categorías</p>
                                    </a>
                                </li>
                            {% endif %}

                            {% get_PermisoUsuario request.user.id "bodegas.view_bodegas" as Permiso %}
                            {% if Permiso %}
                                <li class="nav-item">
                                    <a href="{% url 'Bodegas:Base' %}">
                                        <img src="{% static 'codeBackEnd/admin/img/png/inventory.png' %}">
                                        <p>Bodegas</p>
                                    </a>
                                </li>
                            {% endif %}

                            {% get_PermisoUsuario request.user.id "proveedores.view_proveedores" as Permiso %}
                            {% if Permiso %}
                                <li class="nav-item">
                                    <a href="{% url 'Proveedores:Base' %}">
                                        <img src="{% static 'codeBackEnd/admin/img/png/shop.png' %}">
                                        <p>Proveedores</p>
                                    </a>
                                </li>
                            {% endif %}

                            {% get_PermisoUsuario request.user.id "auth.view_user" as Permiso %}
                            {% if Permiso %}
                                <li class="nav-item">
                                    <a href="{% url 'Usuarios:Base' %}">
                                        <img src="{% static 'codeBackEnd/admin/img/png/group.png' %}">
                                        <p>Usuarios</p>
                                    </a>
                                </li>
                            {% endif %}

                            {% comment %} {% if request.session.comercioId is not None %}
                                {% if request.session.comercio_idplan != 0 %}
                                    <li class="nav-item">
                                        <a href="{% url 'comercioAdmin:sliders' %}">
                                            <img src="{% static 'codeBackEnd/admin/img/svg/slider.svg' %}">
                                            <p>Slider</p>
                                        </a>
                                    </li>
                                {% endif %}

                                <li class="nav-item">
                                    <a href="{% url 'comercioAdmin:configuracion' %}">
                                        <img src="{% static 'codeBackEnd/admin/img/svg/configuraciones.svg' %}">
                                        <p>Configuraciones</p>
                                    </a>
                                </li>
                            {% endif %} {% endcomment %}

                            {% comment %} <li class="nav-item">
                                <a data-toggle="collapse" href="#sidebarLayouts">
                                    <i class="fas fa-truck"></i>
                                    <p>Inventario</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="sidebarLayouts">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/sidebar-style-1.html">
                                                <span class="sub-item">Sidebar Style 1</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/overlay-sidebar.html">
                                                <span class="sub-item">Overlay Sidebar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/compact-sidebar.html">
                                                <span class="sub-item">Compact Sidebar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/static-sidebar.html">
                                                <span class="sub-item">Static Sidebar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/icon-menu.html">
                                                <span class="sub-item">Icon Menu</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a data-toggle="collapse" href="#forms">
                                    <i class="fas fa-file-alt"></i>
                                    <p>Órdenes</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="forms">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/forms.html">
                                                <span class="sub-item">Basic Form</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a data-toggle="collapse" href="#tables">
                                    <i class="fas fa-cogs"></i>
                                    <p>Sistema</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="tables">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/tables.html">
                                                <span class="sub-item">Basic Table</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/datatables.html">
                                                <span class="sub-item">Datatables</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li> {% endcomment %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->