{% extends 'codeBackEnd/base.html' %}
{% load static %}
{% load inventarios_extras %}
{% block title %}Editar producto{% endblock %}
{% block tituloSeccion %}<img class="img-titulo" src="{% static 'codeBackEnd/admin/img/png/box.png' %}"> Editar producto{% endblock %}

{% block customCss %}
    <style>
    </style>
{% endblock %}

{% block content %}
    <form action="" id="formEdit" method="post" enctype="multipart/form-data" class="row ">
        {% csrf_token %}

        <div class="form-group col-md-12"> {% comment %} nombre {% endcomment %}
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
            {{ form.nombre.errors }}
        </div>

        <div class="form-group col-md-6"> {% comment %} codigoProduto {% endcomment %}
            {{ form.codigoProduto.label_tag }}
            {{ form.codigoProduto }}
            {{ form.codigoProduto.errors }}
        </div>

        <div class="form-group col-md-6"> {% comment %} categoria {% endcomment %}
            {{ form.categoria.label_tag }}
            <div class="selectgroup w-100">
                <select id="id_categoria" name="categoria" class="selectpicker w-100" multiple data-live-search="true">
                    {% get_Categorias_list as categorias %}
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.nombre }}</option> 
                    {% endfor%}
                </select>
            </div>
            {{ form.categoria.errors }}
        </div>

        <div class="form-group col-md-12"> {% comment %} descripcion {% endcomment %}
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
            {{ form.descripcion.errors }}
        </div>

        <div class="form-group col-md-12 pr-0">
            <div class="row col-md-12 pr-0">
                <div class="text-center col-12 order-2 text-sm-left order-sm-1 col-sm-6 p-sm-0">
                    <a href="{% url 'Inventarios:Base' %}" type="button" class="btn btn-light"><i class="fas fa-chevron-left"></i> Volver al listado</a>
                </div>
                <div class="text-center col-12 mb-2 order-1 text-sm-right order-sm-2 mb-sm-0 col-sm-6 p-sm-0">
                    <button type="submit" class="btn btn-light">
                        <i class="far fa-save"></i> Guardar cambios
                    </button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block customJs %}
    <script src="{% static 'inventarios/assets/js/validar.js' %}"></script>
    <script>
        {% if 'updated' in request.GET %}
            swal({
                title: "Realizado",
                text: "Se ha actualizado el producto",
                icon: "success",
                buttons: {
                    confirm: {
                        text: "OK",
                        value: true,
                        visible: true,
                        className: "btn btn-success",
                        closeModal: true
                    }
                }
            });
        {% endif %}

        function seleccionarAutomatico(){
            ListadoSeleccionados = [{% for categoria in object.categoria.all %}
                {{categoria.id}},
            {% endfor %}]

            $('#id_categoria').selectpicker('destroy');
            $("#id_categoria").val(ListadoSeleccionados);
            $('#id_categoria').selectpicker();
        }
        seleccionarAutomatico()
    </script>
{% endblock %}