{% extends 'codeBackEnd/base.html' %}
{% load humanize %}
{% load static %}
{% load inventarios_extras %}
{% load codeBackEnd_extras %}
{% load usuarios_extras %}
{% block title %}Productos{% endblock %}
{% block tituloSeccion %}<img class="img-titulo" src="{% static 'codeBackEnd/admin/img/png/box.png' %}"> Productos disponibles{% endblock %}

{% block customHead %}
    <link href="{% static 'codeBackEnd/admin/assets/dataTables/css/dataTables.bootstrap4.css' %}" rel="stylesheet"  type="text/css"/>
{% endblock %}

{% block customCss %}
    <style>
    </style>
{% endblock %}

{% block content %}
    <div class="col-md-12 p-0">
        {% get_PermisoUsuario request.user.id "inventarios.add_productos" as Permiso %}
    
        {% if 'nombre' not in request.GET and 'codigoProduto' not in request.GET and 'categoria' not in request.GET %}
            <form action="{% url 'Inventarios:exportExcel' %}">
                {% if Permiso %}
                    <a href="{% url 'Inventarios:Add' %}" type="button" class="btn btn-light mb-3"><i class="fas fa-plus text-success"></i> Agregar producto</a>
                {% endif %}

                <button type="button" class="btn btn-light mb-3 ml-1" data-toggle="modal" data-target="#searchModal">
                    <i class="fas fa-search text-info"></i> Buscar
                </button>

                <button type="submit" class="btn btn-light mb-3 ml-1 text-green">
                    <i class="fas fa-solid fa-file-excel color-excel"></i> Exportar Excel
                </button>
            </form>
        {% endif %}
        
        {% if 'nombre' in request.GET or 'codigoProduto' in request.GET or 'categoria' in request.GET %}
            <form action="{% url 'Inventarios:exportExcel' %}">
                {% if Permiso %}
                    <a href="{% url 'Inventarios:Add' %}" type="button" class="btn btn-light mb-3"><i class="fas fa-plus text-success"></i> Agregar producto</a>
                {% endif %}

                <button type="button" class="btn btn-light mb-3 ml-1" data-toggle="modal" data-target="#searchModal">
                    <i class="fas fa-search text-info"></i> Buscar
                </button>

                <a href="{% url 'Inventarios:Base' %}" type="button" class="btn btn-light mb-3 ml-1"><i class="fas fa-eraser text-danger"></i> Quitar búsqueda</a>

                {% if 'nombre' in request.GET %}
                    <input type="hidden" name="nombre" value="{{request.GET.nombre}}">
                {% endif %}

                {% if 'codigoProduto' in request.GET %}
                    <input type="hidden" name="codigoProduto" value="{{request.GET.codigoProduto}}">
                {% endif %}

                {% if 'categoria' in request.GET %}
                    <input type="hidden" name="categoria" value="{{request.GET.categoria}}">
                {% endif %}

                <button type="submit" class="btn btn-light mb-3 ml-1">
                    <i class="fas fa-solid fa-file-excel color-excel"></i> Exportar Excel
                </button>
            </form>
        {% endif %}
    </div>

    {% if 'nombre' in request.GET or 'codigoProduto' in request.GET or 'categoria' in request.GET %}
    <div class="col-md-12 p-0 my-3 text-white">
        <h3>
            {% if 'nombre' in request.GET %}
                Buscando por nombre: <b>{{request.GET.nombre}}</b>
            {% elif 'codigoProduto' in request.GET %}
                Buscando por código: <b>{{request.GET.codigoProduto}}</b>
            {% elif 'categoria' in request.GET %}
                Buscando por categoría: <b>
                    {% get_Categoria request.GET.categoria as categoria %}
                    {{categoria}}
                </b>
            {% endif %}
        </h3>
    </div>
    {% endif %}

    <div class="table-responsive">
        {% if page_obj|length == 0 %}
            <div class="card-category estado estado-producto">
                <div class="alert alert-danger" role="alert">
                    <span>No hay datos para mostrar</span>
                </div>
            </div>
        {% else %}
            <table class="display table table-striped table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th style="text-align: center;">Nombre</th>
                        <th style="text-align: center;">Código producto</th>
                        <th style="text-align: center;">Cantidad en existencias</th>
                        <th style="text-align: center;">Categorías</th>
                        {% get_PermisoUsuario request.user.id "inventarios.change_productos" as Permiso %}
                        {% if Permiso %}
                            <th style="text-align: center;">
                                <a href="#" title="Haga clic sobre el icono para editar la fila."><i class='fa fa-info text-white'></i></a>
                            </th>
                        {% endif %}
                        {% comment %} <th style="text-align: center;">
                            <a href="#" title="Haga clic sobre el icono para eliminar la fila."><i class='fa fa-info'></i></a>
                        </th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for linea in page_obj %}
                        <tr>
                            <td style="text-align: center;">{{ linea.nombre }}</td>
                            <td style="text-align: center;">{{ linea.codigoProduto }}</td>
                            <td style="text-align: center;">{{ linea.cantidad }}</td>
                            <td style="text-align: center;">
                                {% for categoria in linea.categoria.all %}
                                    {{categoria.nombre}}<br/>
                                {% endfor %}
                            </td>
                            {% get_PermisoUsuario request.user.id "inventarios.change_productos" as Permiso %}
                            {% if Permiso %}
                                <td style="text-align: center;"><a href="{% url 'Inventarios:Edit' pk=linea.id %}" class="btn btn-primary"><i class="fas fa-pencil-alt fa-lg"></i> Editar</a></td>
                            {% endif %}
                            {% comment %} <td style="text-align: center;"><a href="{% url 'Inventarios:Delete' pk=linea.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Borrar</a></td> {% endcomment %}
                        </tr>
                    {% endfor%}
                </tbody>
            </table>

            {% if is_paginated %}
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                {% if 'nombre' in request.GET %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1&name={{ request.GET.name }}">Primera</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&name={{ request.GET.name }}"><</a>
                                    </li>
                                {% elif 'codigoProduto' in request.GET %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1&code={{ request.GET.code }}">Primera</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&code={{ request.GET.code }}"><</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><</a></li>
                                {% endif %}
                            {% endif %}

                            {% for i in page_obj.paginator.page_range %}
                                
                                <li class="page-item">
                                    {% if request.GET.page|to_int == i|to_int %}
                                        {% if 'nombre' in request.GET %}
                                            <a class="page-link page-selected" href="?page={{ i }}&name={{ request.GET.name }}">{{ i }}</a>
                                        {% elif 'codigoProduto' in request.GET %}
                                            <a class="page-link page-selected" href="?page={{ i }}&code={{ request.GET.code }}">{{ i }}</a>
                                        {% else %}
                                            <a class="page-link page-selected" href="?page={{ i }}">{{ i }}</a>
                                        {% endif %}
                                    {% else %}
                                        {% if 'nombre' in request.GET %}
                                            <a class="page-link" href="?page={{ i }}&name={{ request.GET.name }}">{{ i }}</a>
                                        {% elif 'codigoProduto' in request.GET %}
                                            <a class="page-link" href="?page={{ i }}&code={{ request.GET.code }}">{{ i }}</a>
                                        {% else %}
                                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                                {% if 'nombre' in request.GET %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&name={{ request.GET.name }}">></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&name={{ request.GET.name }}">Última</a>
                                    </li>
                                {% elif 'codigoProduto' in request.GET %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&code={{ request.GET.code }}">></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&code={{ request.GET.code }}">Última</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">></a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            {% endif %}

        {% endif %}
    </div>

    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="{% url 'Inventarios:Search' %}" id="formSearchName" method="get" enctype="multipart/form-data" class="row ">
                        <div class="form-group col-md-12"> {% comment %} nombre {% endcomment %}
                            <label for="id_nombre">Nombre:</label>
                            {% if 'nombre' in request.GET %}
                                <input type="text" id="id_nombre" name="nombre" class="form-control" placeholder="Nombre" maxlength="100" required="" value="{{request.GET.nombre}}">
                            {% else %}
                                <input type="text" id="id_nombre" name="nombre" class="form-control" placeholder="Nombre" maxlength="100" required="">
                            {% endif %}
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-light">
                                <i class="fas fa-search text-info"></i> Buscar por nombre
                            </button>
                        </div>
                    </form>

                    <form action="{% url 'Inventarios:Search' %}" id="formSearchCode" method="get" enctype="multipart/form-data" class="row ">
                        <div class="form-group col-md-12"> {% comment %} codigoProduto {% endcomment %}
                            <label for="id_codigoProduto">Código del producto:</label>
                            {% if 'codigoProduto' in request.GET %}
                                <input type="text" id="id_codigoProduto" name="codigoProduto" class="form-control" placeholder="Código del producto" maxlength="50" required="" value="{{request.GET.codigoProduto}}">
                            {% else %}
                                <input type="text" id="id_codigoProduto" name="codigoProduto" class="form-control" placeholder="Código del producto" maxlength="50" required="">
                            {% endif %}
                        </div>

                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-light">
                                <i class="fas fa-search text-info"></i> Buscar por código
                            </button>
                        </div>
                    </form>

                    <form action="{% url 'Inventarios:Search' %}" method="get" enctype="multipart/form-data" class="row ">
                        <div class="form-group col-md-12"> {% comment %} categoria {% endcomment %}
                            <label for="id_categoria">Categoría:</label>
                            <select id="id_categoria" name="categoria" class="selectpicker w-100" data-live-search="false">
                                {% get_Categorias_list as categorias %}
                                {% for categoria in categorias %}
                                    {% if 'categoria' in request.GET %}
                                        {% if request.GET.categoria|to_int == categoria.id|to_int %}
                                            <option value="{{ categoria.id }}" selected>{{ categoria.nombre }}</option> 
                                        {% else %}
                                            <option value="{{ categoria.id }}">{{ categoria.nombre }}</option> 
                                        {% endif %}
                                    {% else %}
                                        <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                                    {% endif %}
                                {% endfor%}
                            </select>
                        </div>

                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-light">
                                <i class="fas fa-search text-info"></i> Buscar por categoría
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJs %}
    <script src="{% static 'inventarios/assets/js/validar.js' %}"></script>
    <script>
        {% if 'created' in request.GET %}
            swal({
                title: "Realizado",
                text: "Se ha creado el producto",
                icon: "success",
                buttons: {
                    confirm: {
                        text: "OK",
                        value: true,
                        visible: true,
                        className: "btn btn-success",
                        closeModal: true
                    }
                }
            });
        {% endif %}
    </script>
{% endblock %}